<%= form_for @chofer, :url => { :action => remplazo } do |f| %> <%# En caso de emergencia la palabra remplazada es remplazo%> 
 
  <%# <%= form_for @chofer, :url => { :action => :create } do |f| %>
<% if @chofer.errors.any? %>
        <% @chofer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.label "Contrase単a" %>
    <em>(6 caracteres minimos)</em><br />
    <%= f.password_field :password, autocomplete: "new-password", required: true, placeholder: "Contrase単a" %>
  </div>

  <div class="field">
    <%= f.label "Confirme la contrase単a" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, placeholder: "Confirmar contrase単a" %>
  </div>

    <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, required: true, placeholder: 'Ingrese el nombre' %>
    </div>

    <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido, required: true, placeholder: 'Ingrese el apellido' %>
    </div>

    <div class="field">
    <%= f.label :DNI %><br />
    <%= f.text_field :DNI, required: true, placeholder: 'Ingrese su DNI' %>
    </div>

    <div class="field">
    <%= f.label :telefono %><br />
    <%= f.telephone_field :telefono, required: true, placeholder: 'Ingrese su telefono' %>
    </div>


  <div class="actions">
    <%= f.submit "Registrar chofer" %>
  </div>
<%end%>