<%if usuario_signed_in? && current_usuario.role == "admin" %>
<h1>lista de choferes</h1>

<%#mostrar toda la lista de choferes %>
<table>
	<tr>
		<th>Apellido</th>
		<th>Nombre</th>
		<th>DNI</th>
		<th>Email</th>
		<th>Telefono</th>
	</tr>

	<% @chofer.each do |c| %>
	<tr>
		<td><%=c.apellido.titleize%></td>
		<td><%=c.nombre.titleize%></td>
		<td><%=c.DNI%></td>
		<td><%=c.email%></td>
		<td><%=c.telefono%></td>
		<td>
		<%=link_to "Ver", chofer_path(c)%> 
		<%=link_to "Editar", edit_chofer_path(c)%>
		<%=link_to "Eliminar", chofer_path(c), method: :delete%>
		</td>
	</tr>
	<% end %>
</table>
<%end%>

<br>
<div><%= link_to "Agregar Chofer", new_chofer_path %></div>