


	<h1>Lista de Combis</h1>

<% combi= Combi.all %>

		<% combi.each do |c| %>
			<% if !(c.eliminado) %>
				<div>
				<table>
					<tr>
						<th>PATENTE-----------</th>
						<th>Clasificacion-----</th>
						<th>Plazas Totales-----</th>
						<th>Modelo-----</th>
						<th>Acciones------</th>					
					</tr>
					<tr>
						<td><%=c.patente.upcase%></td>
						<td><%=c.clasificacion%></td>
						<td><%=c.plazas_totales%></td> 
						<td><%=c.modelo%></td>
						<td>
							<%=link_to "Editar", edit_combi_path(c)%>
							<%=link_to "eliminar", c,method: :delete%>
						</td>

					
					</tr>
				</table>
			
				</div>
			<%end%>
		<%end%>
