<%if usuario_signed_in? && current_usuario.role == "admin" %>
	<h1 align="center">Lista de Combis</h1><%= link_to "Agregar Combi", new_combi_path %>
	<Br>
	<Br>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Patente</th>
	      <th scope="col">Clasificacion</th>
	      <th scope="col">Plazas Totales</th>
	      <th scope="col">Modelo</th>
	      <th scope="col">Acciones</th>
	    </tr>
	  </thead>
	  <tbody>
	  	
	  	<% @combi.each do |c| %>	
	  		<tr>
				<td><%=c.patente.upcase%></td>
				<td><%=c.clasificacion%></td>
				<td><%=c.plazas_totales%></td> 
				<td><%=c.modelo%></td>
	      	<td>
				<%=link_to "Ver", combi_path(c), class: "btn btn-success btn-sm"  %>
				<%=link_to "Editar", edit_combi_path(c), class: 'btn btn-info btn-sm'%>
				<%=link_to "eliminar", c,method: :delete, class: 'btn btn-danger btn-sm'%>
			</td>
	    </tr>
	    <% end %>
	 	</tbody>
	</table>		

<%else%> 
	<h1 align="center">ACCESO DENEGADO</h1>
<% end %>

