
Formulario para cargar una nueva combi
<h1> Cargar una nueva combi </h1>

<h2>Ingrese los datos de la combi que desea agregar</h2>

   <%= form_for :combi, :url => { :action => :create } do |c| %>

  <div class="field">
    <%= c.label :clasificacion %><br />
    <%= c.text_field :clasificacion, autofocus: true, required: true, placeholder: "tipo de plaza" %>
  </div>

  <div class="field">
    <%= c.label :plazas_totales %><br />
    <%= c.number_field :plazas_totales, in: 1..100 , step: 1, required: true, placeholder: "Plazas " %>
  </div>
  <div class="field">
    <%= c.label :modelo %><br />
    <%= c.text_field :modelo, required: true, placeholder: "Modelo de la combi:" %>
  </div>
  <div class="field">
    <%= c.label :patente %><br />
    <%= c.text_field :patente, required: true, placeholder: "Patente" %>
  </div>

  <div class="actions">

    <%= c.submit "Agregar Combi" %>
  
  </div>
<% end %>

<div> <%= link_to "Volver al inicio de administrador", administrador_index_path %> </div>