<h1> Inicio de administrador </h1>
	
	<%# Link para ver administrar los choferes #%>
	<div><h2>Choferes<h2></div>
	<div><%= link_to "Ver Choferes",choferes_index_path %></div>
	
	<%# Link para Agregar los lugares de origen y destino  #%>
	<div><h2>Lugares<h2></div>
	<div><%= link_to "Ver Lugares", lugar_index_path %></div>
	<div><%= link_to "Agregar Lugares", lugar_new_path %></div>


	<div><h2>Rutas<h2></div>
	<div><%= link_to "Agregar Ruta", ruta_alta_path %></div>

	<div><h2>Combis<h2></div>
	<div><%= link_to "Agregar Nueva Combi", combis_new_path ,class: 'btn btn-info btn-sm'%></div>
