<h1>Pasajeros</h1></br >
	<%if @pasajes.nil?%>

			<h2 style="color:red"> NO HAY PASAJEROS PARA ESTE VIAJE</h2>
	<%else%>
		<table class="table">
  <thead>
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Apellido</th>
      <th scope="col">Nombre</th>
      <th scope="col">Productos</th>
      <th scope="col">Test</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>

		<%@pasajes.each do |pasaje|%>			
				 <tbody>
			    		<tr>
					        <td><%= @usuario.find(pasaje.usuario_id).DNI %></td>
							<td><%= @usuario.find(pasaje.usuario_id).apellido.titleize%></td>
							<td><%= @usuario.find(pasaje.usuario_id).nombre.titleize%> </td>
							<td>
							<% pasaje.productos.each do |producto|%>
								<%=PasajesProducto.find_by(pasaje_id: pasaje.id,producto_id: producto.id).cantidad%>
								<%=producto.nombre.titleize%>
								<br > 
							<%end%>
							</td>
							<% if pasaje.testeo.nil? %>
								<td> <%=link_to "Hacer Test", new_testeo_path(:pasaje => pasaje),class: "btn btn-info btn-sm"%></td>
							<% else %>
								<td> <%= link_to "Editar", edit_testeo_path(pasaje.testeo), class: "btn btn-success btn-sm" %>
								<%= link_to "Eliminar", testeo_path(pasaje.testeo), method: :delete, class: "btn btn-danger btn-sm" %></td>
								<% if pasaje.testeo.sospechado %>
									<td style="color:red">Sospechado</td>
								<% else %>
									<td style="color:green">Apto</td>
								<% end %>
							<% end %>
						</tr>
				</tbody>

			    	<% if !pasaje.invitados.nil?%>
						<% pasaje.invitados.each do |invitado|%>
						    <tbody>
							    <tr>
						    	    <td><%= invitado.DNI %></td>
									<td><%= invitado.apellido.titleize%></td>
									<td><%= invitado.nombre.titleize%> </td>
									<td></td>
									<% if invitado.testeo.nil? %>
										<td> <%=link_to "Hacer Test", new_testeo_path(:invitado => invitado),class: "btn btn-info btn-sm"%></td>
									<% else %>
										<td> <%= link_to "Editar", edit_testeo_path(invitado.testeo), class: "btn btn-success btn-sm" %>
										<%= link_to "Eliminar", testeo_path(invitado.testeo), method: :delete, class: "btn btn-danger btn-sm" %></td>
										<% if invitado.testeo.sospechado %>
											<td style="color:red">Sospechado</td>
										<% else %>
											<td style="color:green">Apto</td>
										<% end %>
									<% end %>
		  				 	 	</tr>
		  				 	 </tbody>
		  				 <%end%>
		  			<%end%>
		<%end%>
	</table>
<%end%>

