<h2>Editar Perfil <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

   <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, autofocus: true, autocomplete: "Nombre" %>
  </div>

   <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido, autofocus: true, autocomplete: "Apellido" %>
  </div>
  <div class="field">
    <%= f.label :DNI %><br />
    <%= f.text_field :DNI, autofocus: true, autocomplete: "DNI" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(No complete estos campos si usted no quiere cambiar su contrasena)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> Caracteres minimos</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Ingrese su contrasena para confimar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

 <div>Desea suscribirse? 10% de descuento en sus proximos viajes. Valor: $$</div>
    <div class="field">
    <%= f.label :suscripcion %> <br />
    <%= f.check_box :suscripcion %> <br />
    </div> 
    <div><h3>Tarjeta de credito (Opcional)
       </h3>
       *Obligatorio con suscripcion activa</div>
             <div class="field">
      <%= f.label "Numero de tarjeta (16 digitos)" %><br />
      <%= f.text_field :nrotarjeta, placeholder: 'Ingrese el numero de tarjeta' %>
      </div>

       <div class="field">
      <%= f.label "Vencimiento:" %><br />
      <%= f.select :vencimientoMes, [1,2,3,4,5,6,7,8,9,10,11,12] %>
      <%= f.select :vencimientoAño, [2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030] %>
      </div>

      <div class="field">
      <%= f.label "Codigo de seguridad (3 digitos)" %><br />
      <%= f.text_field :codseguridad, placeholder: 'Los tres digitos detras de la tarjeta' %>
      </div>


  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h4>Desea Borrar la cuenta permanentemente?</h4>

<%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "Estas seguro de eliminar permanentemente tu cuenta del sistema?" }, method: :delete %></p>

<%= link_to "volver", welcome_index_path %>
