<h2>Registrar usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.label "Contraseña" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimos)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", required: true, placeholder: "Contraseña" %>
  </div>

  <div class="field">
    <%= f.label "Confirme la contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, placeholder: "Confirmar contraseña" %>
  </div>

    <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, required: true, placeholder: 'Ingrese el nombre' %>
    </div>

    <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido, required: true, placeholder: 'Ingrese el apellido' %>
    </div>

    <div class="field">
    <%= f.label :DNI %><br />
    <%= f.text_field :DNI, required: true, placeholder: 'Ingrese su DNI' %>
    </div>

    <div>Desea suscribirse? 10% de descuento en sus proximos viajes. Valor: $$</div>
    <div class="field">
    <%= f.label :suscripcion %> <br />
    <%= f.check_box :suscripcion %> <br />
    </div> 
    <div><h3>Tarjeta de credito (Opcional)
    	 </h3>
    	 *Obligatorio con suscripcion activa</div>
    	       <div class="field">
      <%= f.label "Numero de tarjeta (16 digitos)" %><br />
      <%= f.text_field :nrotarjeta, placeholder: 'Ingrese el numero de tarjeta' %>
      </div>

      <div class="field">
      <%= f.label "Vencimiento:" %><br />
      <%= f.select :vencimientoMes, [1,2,3,4,5,6,7,8,9,10,11,12] %>
      <%= f.select :vencimientoAño, [2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030] %>
      </div>

      <div class="field">
      <%= f.label "Codigo de seguridad (3 digitos)" %><br />
      <%= f.text_field :codseguridad, placeholder: 'Los tres digitos detras de la tarjeta' %>
      </div>
    <%#end %>

  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>

<% end %>

<%#><%= render "devise/shared/links" %>
