<h2> Comprar Pasaje <h2>

<div>
<h3>Viaje</h3>
<ul>
  <li><%= @viaje.fecha.strftime("Fecha de salida: %d/%m/%y") %></li>
  <li><%= @viaje.fecha.strftime("Hora de salida: %H:%M") %></li>
  <li><%= @viaje.fecha_llegada.strftime("Hora aproximada de llegada: %H:%M") %></li>
  <li>Origen: <%= @origen.ciudad.titleize %></li>
  <li>Destrino: <%= @destino.ciudad.titleize %></li>
  <li>Por: <%= @ruta.nombre.titleize%></li>
  <li>Tipo de combi: <%= @combi.clasificacion %></li>
  <li>Precio: $<%= @viaje.precio%> </li>
</ul>
</div>

<h3>Lista de Productos</h3>
 <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
  <tbody>
    <% @producto.each do |producto| %>
          <tr>
            <td><%= producto.nombre.titleize %></td>
            <td><%= producto.descripcion %></td>
            <td>$<%= producto.precio %> </td>
            <% if @cantidad.find_by(producto_id: producto.id) != nil %>
              <td><%= @cantidad.find_by(producto_id: producto.id).cantidad %></td>
            <% else %>
              <td>0</td>
            <% end %>
            <td><%= link_to "Agregar producto", agregarproducto_usuario_path(:producto => producto, :viaje => @viaje, :pasaje => @pasaje), method: :patch, class: "btn btn-info btn-sm"%>
            <%= link_to "Cancelar producto", cancelarproducto_usuario_path(:producto => producto,:pasaje => @pasaje,:viaje => @viaje), method: :delete, class: 'btn btn-danger btn-sm' %> <br /> </td>
          </tr>	
    <% end %>
  </tbody>
</table>

<% if current_usuario.suscripcion %>
   <h3> Precio total con 10 de descuento por suscripcion:$<%= @pasaje.precio*0.9 %></h3> 
  <%else%>
  <h3>Precio total : $<%= @pasaje.precio %></h3> 
  <%end%>
<%= link_to "Volver", usuario_index_path %>
<%= link_to "Siguiente", confirmarcompra_usuario_path(:pasaje => @pasaje,:viaje => @viaje,:habilitado => @habilitado) %>