<h1>Hola <%=current_usuario.nombre %>!</h1>
<% if current_usuario.baneo > Time.now.to_date %>
    <h3 style="color:orange">Estas sospechado de covid-19 hasta el: <%= current_usuario.baneo %></h3>
<% end %>
<br>
Querés ver los viajes que están en curso para subirte a uno? -->          
<%= link_to "Compra Exprés",  viajesencurso_expres_path, class:'btn'%>
<Br>
<br>
<br>
<%= link_to "Ver Perfil", usuario_path(@usuario)%> 
<Br>
<%=link_to "Ver mis viajes",usuario_VerViajesUsuario_path%>
<Br>
<%=link_to "Que hacer si perdiste algo en un viaje?", usuario_informacion_path %>
<%#=link_to "Calificaciones y Comentarios", calificacions_path %>



<br>
<br>

<%= form_tag usuario_index_path, method: :get do %>
	<%= label_tag "Origen:" %>
	<%= text_field_tag :origen, nil,placeholder: "Origen", required: true %><br />
	<%= label_tag "Destino:" %>
	<%= text_field_tag :destino, nil, placeholder: "Destino", required: true %> <br />
	<%= label_tag "Fecha de salida:" %>
	<%= date_field_tag :fecha, required: true %> <br />
	<%= submit_tag "Buscar viaje" %>
<% end %>

<br>
<br>

<div id="resultados">
	
	<% if !@viajes.nil? &&  @viajes.count > 0%>

		<% @viajes.each do |v| %>
		<div class="panel panel-primary">
  			<div class="panel-heading">
    			<h3 class="panel-title">Viaje de <%= @lugar.find(@ruta.find(v.ruta).origen).mostrar_atributos %> a <%= @lugar.find(@ruta.find(v.ruta).destino).mostrar_atributos %></h3>
  			</div>
  			<div class="panel-body">
    			<ul>
    				<li>Fecha de salida: <%= v.fecha %></li>
    				<li>Ruta: <%= @ruta.find(v.ruta).mostrar_atributos %></li>
    				<li>Tipo de combi: <%= @combi.find(v.combi).clasificacion.titleize %></li>
    				<li>Fecha estimada de llegada: <%= v.fecha_llegada %></li>
    				<li>Precio: $<%= v.precio %></li>
    				<li>Lugares disponibles: <%= v.asientos %></li>
    				<% if v.pasajes.find_by(usuario_id: current_usuario.id).nil? %>
    					<% if v.asientos > 0 && current_usuario.baneo.nil? %>
    						<%= link_to "Comprar pasaje", comprarpasaje_usuario_path(:id => v) %>
    					<% else %>
                            <% if v.asientos == 0 %>
    						  <strong style="color:red">Pasajes agotados!!!</strong>
                            <% else %>
                                <% if current_usuario.baneo > v.fecha.to_date %>
                                    <strong style="color:red">Tenes covid maestro!</strong>
                                <% else %>
                                    <%=  link_to "Comprar pasaje", comprarpasaje_usuario_path(:id => v) %>
                                <% end %>
                            <% end %>
    					<% end %>
    				<% else %>
    				    <strong style="color:red">Ya tenes un pasaje para este viaje</strong>
    				<% end %> 
    			</ul>
  			</div>
		</div>
		<% end %>
	<% else %>
		<%= @notice %>
	<% end %>
</div>

