<h1>Inicio Usuario</h1>
<Br>
<%= link_to "Ver Perfil", usuario_path(@usuario)%> 
<Br>
<%=link_to "Editar Perfil", edit_usuario_registration_path %>
<Br>
<%=link_to "Ver mis viajes",usuario_VerViajesUsuario_path%>
<Br>
<%=link_to "Calificaciones y Comentarios", calificacions_path %>
<Br>
<%= link_to "comprar pasaje", usuario_comprarpasaje_path %>