<h1>Inicio Usuario</h1>

<Br>
<%= link_to "Ver Perfil", usuario_path(@usuario)%> 
<Br>
<%=link_to "Editar Perfil", edit_usuario_registration_path %>
<Br>
<%=link_to "Ver mis viajes",usuario_VerViajesUsuario_path%>
<Br>
<%=link_to "Calificaciones y Comentarios", calificacions_path %>



<br>
<br>

<%= form_tag usuario_index_path, method: :get do %>
	<%= label_tag "Origen:" %>
	<%= text_field_tag :origen, nil,placeholder: "Origen", required: true %><br />
	<%= label_tag "Destino:" %>
	<%= text_field_tag :destino, nil, placeholder: "Destino", required: true %> <br />
	<%= label_tag "Fecha de salida:" %>
	<%= date_field_tag :fecha, required: true %> <br />
	<%= submit_tag "Buscar viaje" %>

<% end %>

<br>
<br>

<div id="resultados">
	
	<% if !@viajes.nil? &&  @viajes.count > 0%>

		<% @viajes.each do |v| %>
		<div class="panel panel-primary">
  			<div class="panel-heading">
    			<h3 class="panel-title">Viaje de <%= @lugar.find(@ruta.find(v.ruta).origen).mostrar_atributos %> a <%= @lugar.find(@ruta.find(v.ruta).destino).mostrar_atributos %></h3>
  			</div>
  			<div class="panel-body">
    			<ul>
    				<li>Fecha de salida: <%= v.fecha %></li>
    				<li>Ruta: <%= @ruta.find(v.ruta).mostrar_atributos %></li>
    				<li>Tipo de combi: <%= @combi.find(v.combi).clasificacion.titleize %></li>
    				<li>Fecha estimada de llegada: <%= v.fecha_llegada %></li>
    				<li>Precio: $<%= v.precio %></li>
    				<li>Lugares disponibles: <%= @combi.find(v.combi).plazas_libres %></li>
    				<% if v.pasajes.find_by(usuario_id: current_usuario.id).nil? %>
    					<%= link_to "Comprar pasaje", comprarpasaje_usuario_path(:id => v) %>
    				<% else %>
    				<strong style="color:red">Ya tenes un pasaje para este viaje</strong>
    				<% end %> 
    			</ul>
  			</div>
		</div>
		<% end %>
	<% else %>
		<%= @notice %>
	<% end %>
</div>
