<h1>Datos del pasajero acompañante</h1>

<%= form_for @invitado, :url => { :action => :crearinvitado } do |f| %>
          <div class="form-group">
            <%= f.text_field :nombre, placeholder: "Nombre",required: true %>
          </div>
          <div class="form-group">
            <%= f.text_field :apellido, placeholder: "Apellido", required: true %>
          </div>
          <div class="form-group">
            <%= f.text_field :DNI, placeholder: "DNI", required: true %>
          </div>

          <%= hidden_field_tag "viaje", @viaje %>
          <%= hidden_field_tag "pasaje", @pasaje %>

          <%= f.submit "Agregar pasajero", class: "btn btn-primary" %>
<% end %>