<h1>Historial De Viajes de <%=current_usuario.nombre%></h1>
<Br>
<Br>

<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Fecha de Salida<br />(Año/Mes/Dia)</th>
      <th scope="col">Hora de Salida</th>
      <th scope="col">Hora de Llegada</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Ruta</th>
      <th scope="col">Tipo de Combi</th>
      <th scope="col">Precio</th>
      <th scope="col">Tus Opiniones</th>
    </tr>
  </thead>

  <tbody>
    
    <% @pasajesusuario.each do |pasaje| %>
    
    <% if !viaje.eliminado %>
      <tr>
        <td><%= pasaje.viaje.fecha.strftime("Fecha de salida: %d/%m/%y") %></td>
        <td><%= pasaje.viaje.fecha.strftime("Hora de salida: %H:%M")  %></td>
        <td><%= pasaje.viaje.fecha_llegada.strftime("Hora aproximada de llegada: %H:%M")  %></td>
        <td><%= @lugar.find(@ruta.find(pasaje.viaje.ruta).origen).mostrar_atributos %></td>
        <td><%= @lugar.find(@ruta.find(pasaje.viaje.ruta).destino).mostrar_atributos %></td>
        <td><%= @ruta.find(pasaje.viaje.ruta).mostrar_atributos %></td>
        <td><%= @combi.find(pasaje.viaje.combi).clasificacion %></td>
        <td>  EL PRECIO </td>
        <%if ! @calificacion.where(viaje_id: pasaje.viaje.id).nil?%> <!--si ya tiene una opinion-->
          <td><%= link_to 'Editar tu opinion sobre este viaje', edit_calificacion_path(@calificacion.find_by(viaje_id: pasaje.viaje.id)), class: "btn btn-success btn" %></td>
        <%else%>
          <td><%= link_to 'Dejar una opinion sobre este viaje', new_calificacion_path(pasaje.viaje), class: "btn btn-success btn" %></td>
        <%end%>

      
      </tr>
    <% end %>  
  <% end %>
  </tbody>
  </table>