<h1>Historial De Viajes de <%=current_usuario.nombre%></h1>
<Br>
<Br>

<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Fecha de Salida<br />(Año/Mes/Dia)</th>
      <th scope="col">Hora de Salida</th>
      <th scope="col">Hora de Llegada</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Ruta</th>
      <th scope="col">Tipo de Combi</th>
      <th scope="col">Precio</th>
      <th scope="col">Estado</th>
      <th scope="col">Tus Opiniones</th>
    </tr>
  </thead>

  <tbody>
    
    <% @pasajesusuario.each do |pasaje| %>
      <tr>
        <td><%= @viajes.find(pasaje.viaje_id).fecha.strftime("Fecha de salida: %d/%m/%y") %></td>
        <td><%= @viajes.find(pasaje.viaje_id).fecha.strftime("Hora de salida: %H:%M")  %></td>
        <td><%= @viajes.find(pasaje.viaje_id).fecha_llegada.strftime("Hora aproximada de llegada: %H:%M")  %></td>
        <td><%= @lugar.find(@ruta.find(@viajes.find(pasaje.viaje_id).ruta).origen).mostrar_atributos %></td>
        <td><%= @lugar.find(@ruta.find(@viajes.find(pasaje.viaje_id).ruta).destino).mostrar_atributos %></td>
        <td><%= @ruta.find(@viajes.find(pasaje.viaje_id).ruta).mostrar_atributos %></td>
        <td><%= @combi.find(@viajes.find(pasaje.viaje_id).combi).clasificacion %></td>
        <td>  <%= pasaje.precio %> </td>
        <td> <%= @viajes.find(pasaje.viaje_id).estado %></td>
        <%if !pasaje.calificacion.nil?%> <!--si ya tiene una opinion-->
          <td>
            <%= link_to 'Ver', pasaje.calificacion , class: "btn btn-success btn-sm" %>
            <%= link_to 'Editar', edit_calificacion_path(pasaje.calificacion,:pasaje => pasaje), class: "btn btn-primary btn-sm" %>
              <%= link_to 'Eliminar', pasaje.calificacion, method: :delete, class: 'btn btn-danger btn-sm'%></td>
            </td>
        <%else%>
          <td>
            <% if @viajes.find(pasaje.viaje_id).estado == "finalizado" %>
            <%= link_to 'Dejar una opinion sobre este viaje', new_calificacion_path(pasaje), class: "btn btn-success btn" %>
            <% end %>
            </td>
        <%end%>
      </tr> 
  <% end %>
  </tbody>
  </table>