  <%if usuario_signed_in? && current_usuario.role == "admin" %>
<p id="notice"><%= notice %></p>




<h1 align="center">Lista de Viajes</h1> <%= link_to 'Agregar viaje', new_viaje_path %>
<Br>
<Br>

<h3>Filtrar viajes por:</h3>
<%= form_tag viajes_path, method: :get do %>
  <%= label_tag "Origen:" %>
  <%= text_field_tag :origen, nil,placeholder: "Origen" %>
  <%= label_tag "Destino:" %>
  <%= text_field_tag :destino, nil, placeholder: "Destino" %>
  <%= label_tag "Chofer:" %>
  <%= text_field_tag :chofer, nil, placeholder: "DNI del chofer" %>
  <%= label_tag "Combi:" %>
  <%= text_field_tag :combi, nil, placeholder: "Patente de la combi" %>
  <%= label_tag "Fecha de salida:" %>
  <%= date_field_tag :fecha %> 
  <%= submit_tag "Buscar viaje" %>

<% end %>

<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Fecha<br />(Año/Mes/Dia)</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Ruta</th>
      <th scope="col">Combi</th>
      <th scope="col">Chofer</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
      
    </tr>
  </thead>

  <tbody>
    <% if !@viajes.nil? %>
    <% @viajes.each do |viaje| %>
    <% if !viaje.eliminado %>
      <tr>
        <td><%= viaje.fecha %></td>
        <td><%= @lugar.find(@ruta.find(viaje.ruta).origen).mostrar_atributos %></td>
        <td><%= @lugar.find(@ruta.find(viaje.ruta).destino).mostrar_atributos %></td>
        <td><%= @ruta.find(viaje.ruta).mostrar_atributos %></td>
        <td><%= @combi.find(viaje.combi).mostrar_atributos %></td>
        <td><%= @usuario.find(viaje.chofer).mostrar_atributos %></td>
        
        <% if @usuario.find(viaje.chofer).eliminado || @combi.find(viaje.combi).eliminado%>
          <% if @usuario.find(viaje.chofer).eliminado && @combi.find(viaje.combi).eliminado%>
            <td><span>Chofer y Combi estan eliminados</span></td>
          <% elsif @usuario.find(viaje.chofer).eliminado %>
            <td><span>Chofer eliminado</span></td>
          <% else %>
            <td><span>Combi eliminada</span></td>
          <% end %>
        <%else %>
          <td>--</td>
        <% end %>
        <td><%= link_to 'Detalles', viaje, class: "btn btn-success btn-sm" %></td>
        <td><%= link_to 'Editar', edit_viaje_path(viaje),  class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'Eiminar', viaje, method: :delete , class: 'btn btn-danger btn-sm' %></td>
        <!--no estoy seguro si es la manera de corroborar fecha -->
        <td><% if viaje.estado == "finalizado" %> 
          <%=link_to 'Ver Calificaciones', calificacions_CalificacionesPorViaje_path(viaje), class: "btn btn-success btn-sm"%>
            <%end%>
          </td>
      </tr>
    <% end %>  
  <% end %>
  <% else %>
    <%= @notice %>
  <% end %>
  </tbody>
  </table>
  
<%#mostrar toda la lista de choferes %>
<%else%> 
  <h1 align="center">ACCESO DENEGADO</h1>
<% end %>