<%if usuario_signed_in? && current_usuario.role == "admin" %>
<p id="notice"><%= notice %></p>




<h1 align="center">Lista de Viajes <h3 align="left"><%= link_to 'Agregar viaje', new_viaje_path %></h3></h1>
<Br>

<Br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Fecha<br />(Año/Mes/Dia)</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Ruta</th>
      <th scope="col">Combi</th>
      <th scope="col">Chofer</th>
    </tr>
  </thead>

  <tbody>
    
    <% @viajes.each do |viaje| %>
    <% if !viaje.eliminado %>
      <tr>
        <td><%= viaje.fecha %></td>
        <td><%= @lugar.find(viaje.origen).mostrar_atributos %></td>
        <td><%= @lugar.find(viaje.destino).mostrar_atributos %></td>
        <td><%= @ruta.find(viaje.ruta).mostrar_nombre %></td>
        <td><%= @combi.find(viaje.combi).mostrar_atributos %></td>
        <td><%= @usuario.find(viaje.chofer).mostrar_atributos %></td>
        <% if @usuario.find(viaje.chofer).eliminado || @combi.find(viaje.combi).eliminado%>
          <% if @usuario.find(viaje.chofer).eliminado && @combi.find(viaje.combi).eliminado%>
            <td><span>Chofer y Combi estan eliminados</span></td>
          <% elsif @usuario.find(viaje.chofer).eliminado %>
            <td><span>Chofer eliminado</span></td>
          <% else %>
            <td><span>Combi eliminada</span></td>
          <% end %>
        <%else %>
          <td>--</td>
        <% end %>
        <td><%= link_to 'Detalles', viaje %></td>
        <td><%= link_to 'Editar', edit_viaje_path(viaje) %></td>
        <td><%= link_to 'Eiminar', viaje, method: :delete, data: { confirm: 'Estas seguro' } %></td>
      </tr>
    <% end %>  
  <% end %>
  </tbody>
  </table>
  
<%#mostrar toda la lista de choferes %>
<%else%> 
  <h1 align="center">ACCESO DENEGADO</h1>
<% end %>