<%if usuario_signed_in? && current_usuario.role == "admin" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @producto.stock %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @producto.eliminado %>
</p>

<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Volver Atras', productos_path %>
<%end%>