<p id="notice"><%= notice %></p>
<h1 align="center">Viajes En Curso </h1>
<Br>
<Br>
<div id="En Curso">
  <% if !@viajes.nil?%>
    <% if @viajes.count > 0%>

      <% @viajes.each do |v| %>
      <div class="row">
      <div class="col-sm-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Viaje de <%= @lugar.find(@ruta.find(v.ruta).origen).mostrar_atributos %> a <%= @lugar.find(@ruta.find(v.ruta).destino).mostrar_atributos %></h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Fecha de salida: <%= v.fecha %></li>
              <li>Ruta: <%= @ruta.find(v.ruta).mostrar_atributos %></li>
              <li>Tipo de combi: <%= @combi.find(v.combi).clasificacion.titleize %></li>
              <li>Fecha estimada de llegada: <%= v.fecha_llegada %></li>
              <li>Precio: $<%= v.precio %></li>
              <li>Lugares disponibles: <%= v.asientos %></li>
              <% if v.asientos > 0 %>
                  <%if signed_in? %>
                    <%= link_to "Comprar un pasaje", comprarexprescliente_expres_path(:id => v) %>
                  <%else%>
                    <%= link_to "Comprar un pasaje", comprarexpres_expres_path(:id => v) %>
                  <%end%>  
                <% else %>
                  <strong style="color:red">Pasajes agotados!!!</strong>
                <% end %>            
            </ul>
          </div>
      </div>
      </div>
      </div>
      <% end %>
    <% else %>
      <%= @notice %>
    <% end %>
  <% else%>
    <strong style="color:red"> No hay viajes en curso </strong>
  <%end%>
</div>
  
