<%= form_with(model: calificacion, local: true) do |form| %>
  <% if calificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calificacion.errors.count, "error") %> prohibited this calificacion from being saved:</h2>

      <ul>
        <% calificacion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <Br>
    <div class="field">
      <%= form.label "Seleccione el viaje que desea calificar:" %>
    </div>
  <Br>
    <div class="field">
      <%= form.label :puntaje %>
    <Br>
    <%= form.number_field :puntaje, in: 1..10, step: 1 %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <Br>
    <%= form.text_field :comentario %>
  </div>
  <Br>
  <div class="actions">
    <%= hidden_field_tag(:viaje_id, @viaje) %>
    <%= form.submit %>
  </div>
  <Br>
<% end %>
