<p id="notice"><%= notice %></p>

<p>
  <strong>Puntaje:</strong>
  <%= @calificacion.puntaje %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @calificacion.comentario %>
</p>

<%= link_to 'Editar', edit_calificacion_path(@calificacion,:pasaje => @calificacion.pasaje_id) %> |
<%= link_to 'Volver', usuario_VerViajesUsuario_path %>
