<p id="notice"><%= notice %></p>

<p>
  <strong>Precio:</strong>
  <%= @pasaje.precio %>
</p>

<p>
  <strong>:</strong>
  <%= @pasaje. %>
</p>

<%= link_to 'Edit', edit_pasaje_path(@pasaje) %> |
<%= link_to 'Back', pasajes_path %>
