<%if usuario_signed_in? && current_usuario.role == "admin" %>
<h1>Agregar Ruta</h1>
<Br>
<%= form_for :ruta, :url => { :action => :create } do |r| %>

    <h3>Ingrese nombre de la ruta:<h3>

    <%= r.text_field :nombre, autofocus: true, required: true %>

  	<h3> Origen </h3>
  	<%= r.collection_select :origen, @lugar, :id, :mostrar_atributos, { include_blank: "" }, required:true %>
  
  	<h3> Destino </h3>   
  	<%= r.collection_select :destino, @lugar, :id, :mostrar_atributos, { include_blank: "" }, required: true %>
  

<br >
<%= r.submit "Agregar ruta" %>
<%end%>

<div> <%= link_to "Volver al inicio de administrador", administrador_index_path %> </div>
<% end %>