<h1>Rutas</h1>
<table class="table">
	<tr>
		<th>Nombre</th>
		<th>Origen</th>
		<th>Destino</th>
	</tr>

	<% @ruta.each do |r| %>
	<% if !r.eliminado %>
	<tr>
		<td><%= r.nombre.titleize %></td>
		<td><%= @lugar.find(r.origen).mostrar_atributos%></td>
		<td><%= @lugar.find(r.destino).mostrar_atributos%></td>
		<td>
			<%= link_to "Editar", edit_rutum_path(r), class: 'btn btn-info btn-sm' %>
			<%= link_to "Eliminar", r, method: :delete, class: 'btn btn-danger btn-sm' %>
		</td>
	</tr>
	<% end %>
	<% end %>
</table>
